.sticky{
  position : fixed;
  top: 0;
  width: 100%;
}
#searchBtn:hover{
  background-color: #b8b3b3;
  color : white;
  border-color: #b8b3b3;
}
#facebookIcon{
  font-size: 2em;
  color: black;
}
#facebook{
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 5px;
  margin-right: 5px;
}
#instagramIcon{
  font-size: 2em;
  color: black;
}
#instagram{
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 5px;
}
#twitterIcon{
  font-size: 2em;
  color: black;
}
#twitter{
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 5px;
  margin-left: 5px;
}
.socialNetwork{
  display: flex;
}
